<br><br>
<h1 class="titleGame">{{title}}</h1>
<br><br>
<div class="lesboutons">
<div class="ripple-container1 mat-elevation-z8"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color">
  Play Solo<br>
  <h3>Try to be in the leaderboard!</h3>
</div>
  <div class="ripple-container2 mat-elevation-z8"
       matRipple
       [matRippleCentered]="centered"
       [matRippleDisabled]="disabled"
       [matRippleUnbounded]="unbounded"
       [matRippleRadius]="radius"
       [matRippleColor]="color">
    Multiplayer
    <br>
    <h3>
      Play with friends in a room!</h3>
  </div>
</div>
