<br><br><br><br><br>
<h1>How many sites do you want to guess :</h1>
<br>
<div class="lesboutons">
  <div class="ripple-container mat-elevation-z8"
       matRipple
       [matRippleCentered]="centered"
       [matRippleDisabled]="disabled"
       [matRippleUnbounded]="unbounded"
       [matRippleRadius]="radius"
       [matRippleColor]="color">
    3<br>
  </div>
  <div class="ripple-container mat-elevation-z8"
       matRipple
       [matRippleCentered]="centered"
       [matRippleDisabled]="disabled"
       [matRippleUnbounded]="unbounded"
       [matRippleRadius]="radius"
       [matRippleColor]="color">
    5<br>
  </div>
  <div class="ripple-container mat-elevation-z8"
  matRipple
  [matRippleCentered]="centered"
  [matRippleDisabled]="disabled"
  [matRippleUnbounded]="unbounded"
  [matRippleRadius]="radius"
  [matRippleColor]="color">
    10<br>
  </div>
</div>
