.example-spacer {
  flex: 1 1 auto;
}
span>h1{
  color : aliceblue;
  font-family: 'Varela Round', sans-serif;

}

.mat-icon + span{
  font-family: 'Varela Round', sans-serif;
  font-size: 130%;
}
.mat-toolbar.mat-primary {
  background: linear-gradient(90deg, black, #520074 );
  margin-bottom: -12px;
}

.mat-drawer{
  /*background: linear-gradient(180deg, blue, pink);*/
  background: linear-gradient(0deg, black, #520074 );
  width : 300px;
  text-align: center;
  overflow-x: hidden;
  z-index: 11;

}

.sidenav {
  padding: 20px;
  overflow-x: hidden;
}

h2.welcome{
  color: aliceblue;
  font-family: 'Varela Round', sans-serif;
  font-size: 300%;
}
.mat-icon.welcome{
  font-size: 240px;
  vertical-align: middle;
  color: rgba(100, 149, 237, 0.55);
  width : 250px;
}
button.menu-button{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  color: aliceblue;

  mat-icon {
    margin-right: 8px;
  }
}
mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.bye{
  color:white;
}
//footer
.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  //background: linear-gradient(70deg, blue, pink);
  background: linear-gradient(90deg, black, #520074 );
  color: white;
  text-align: center;
  padding: 10px;
}
.footer > div {
  text-align: center;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 1;
}
.example-icon2{
  margin-right: 10px;
}

.mailto{
  color: aliceblue;
  text-decoration: none;
}
