<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><h1>{{title}}</h1></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="icon-button with share icon" titme="Share the game with your friends">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div [ngStyle]="{backgroundImage :  'url(../images/kq19DZ.webp)'}"></div>
<app-title-page></app-title-page>
<router-outlet></router-outlet>
