<div class="MainContainer">

  <div class="ParallaxContainer">
    <h1>
      WebX Team
    </h1>
  </div>

  <div class="ContentContainer">
    <div class="Content">
      <span><span class="first-word">WebXplorer </span> is a solo or multiplayer online game that was created by a group of third-year INSA telecommunications engineering students. First of all, we want to thank Ibrahim Iraqui for giving us this project idea, and of course, we also thank the whole team for their incredible work.
        </span>
      <h1>The Team</h1>
      <br>
      <span class="images">
        <div class="ekip"><a href="https://www.linkedin.com/in/abdeladem/"><img src="https://i.imgur.com/qo0Wbgp.jpg"></a><p>Abdeladem S. <span class="first-word2">Fattah</span></p></div>
        <div class="ekip"><a href="https://www.linkedin.com/in/chakib-hamie-9a1230227"><img src="https://i.imgur.com/26YTIqI.jpg"></a><p>Chakib <span class="first-word2">Hamie</span></p></div>
        <div class="ekip"><a href="https://www.linkedin.com/in/christian-hajj-669aa2231"><img src="https://i.imgur.com/xCMF89K.jpg"></a><p>Christian <span class="first-word2">Hajj</span></p></div>
        <div class="ekip"><img src="https://i.imgur.com/ew5uzSz.jpg"><p>Ibrahim <span class="first-word2">Iraqui</span></p></div>
        <div class="ekip"><a href="https://www.linkedin.com/in/mohamedbouzoubaa"><img src="https://i.imgur.com/qYDrGYj.jpg"></a><p>Mohamed <span class="first-word2">Bouzoubaa</span></p></div>
      </span>

        <h1>How to play?</h1>
      <br>
      <span>      So now let's talk about the game, WebXplorer is a guessing game where the player will be exposed to screenshots of different sites of different categories chosen beforehand.

      We have inserted several parameters for the game such as the number of rounds and the difficulty to maximize the fun.
        <br><br>
        It's pretty simple, the player will have to guess the date of the site that will be displayed, but be careful the accuracy and the time taken will play a very important role in your score! However, their impact will vary depending on the difficulty chosen (baby or Xtreme). The Xtreme mode will only be for the bravest ones so beware.

        Now you know everything! Go and become the king of WebXplorer and challenge all your friends!</span>



    </div>
  </div>
</div>
