h1{
  text-align: center;
  font-weight: 600;
  font-size: 300%;
  font-family: 'Varela Round', sans-serif;
  color: aliceblue
}
.ripple-container {
  transition: transform .2s;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(40deg, black, #520074 90% );
  color: aliceblue;
  font-family: 'Varela Round', sans-serif;
  font-size: 250%;
  width: 300px;
  height: 60px;
  padding-top: 40px;
}
.ripple-container:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.lesboutons{
  display: grid;
  grid-gap: 20px;
  justify-content: center;
}

.mat-form-field{
  margin-right: 25px;
}
