.content{
  margin-top: 3%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  justify-content: center;
}
.card{
  max-width: 700px;
  background: #b193e0; //TOC
  color: white;
}
.mat-card-title{
  text-align: center;
  font-weight: 900;
  font-size: 200%;
  font-family: 'Varela Round', sans-serif;
}

.lesboutons{
  display: grid;
  grid-gap: 20px;
  justify-content: center;
}
.ripple-container , .ripple-containerCard, .ripple-containerCardCentral {
  cursor: pointer;
  text-align: center;
  background: #9772e0;
  color: aliceblue;
  font-family: 'Varela Round', sans-serif;
  font-size: 150%;
  width: 100px;
  height: 30px;
  padding-top: 15px;
}
.ripple-containerCard {
  font-size: 200%;
  width: 300px;
  height: 45px;
  padding-top: 10px;
  margin-left: 50px;
}
.ripple-containerCardCentral {
  font-size: 200%;
  width: 400px;
  height: 50px;
  padding-top: 13px;
}
h3{
  font-size: 40%;
}

ul {
  list-style-type: none;
  margin-top: 4px;

}

.marginCheck{
  color: aliceblue;
  font-family: 'Varela Round', sans-serif;
  font-size: 200%;
}
.sectionList{
  margin-left: 30%;
}
