<div class="content">
<mat-card class="card">
  <mat-card-title>Game Settings</mat-card-title>
  <mat-card-content>
  <mat-tab-group [selectedIndex]="selected">
    <mat-tab label="Choose Category">
      <br>
      <div class="lesboutons">
        <div class="ripple-containerCardCentral mat-elevation-z8"
             matRipple
             [matRippleCentered]="centered"
             [matRippleDisabled]="disabled"
             [matRippleUnbounded]="unbounded"
             [matRippleRadius]="radius"
             [matRippleColor]="color"
             (click)="next1(4)">
          All Categories<br>
          <h3>A max of fun</h3>
        </div>
        <div class="ripple-containerCard mat-elevation-z8"
             matRipple
             [matRippleCentered]="centered"
             [matRippleDisabled]="disabled"
             [matRippleUnbounded]="unbounded"
             [matRippleRadius]="radius"
             [matRippleColor]="color"
             (click)="next1(0)"
        >
          Social Media<br>
          <h3>See how it was before you got addicted to it</h3>
        </div>
        <div class="ripple-containerCard mat-elevation-z8"
             matRipple
             [matRippleCentered]="centered"
             [matRippleDisabled]="disabled"
             [matRippleUnbounded]="unbounded"
             [matRippleRadius]="radius"
             [matRippleColor]="color"
             (click)="next1(1)"
        >
          Sports<br>
          <h3>Sports and Web, it goes hand in hand</h3>
        </div>
        <div class="ripple-containerCard mat-elevation-z8"
             matRipple
             [matRippleCentered]="centered"
             [matRippleDisabled]="disabled"
             [matRippleUnbounded]="unbounded"
             [matRippleRadius]="radius"
             [matRippleColor]="color"
             (click)="next1(2)"
        >
          News<br>
          <h3>It's boring... but we have to</h3>
        </div>
        <div class="ripple-containerCard mat-elevation-z8"
             matRipple
             [matRippleCentered]="centered"
             [matRippleDisabled]="disabled"
             [matRippleUnbounded]="unbounded"
             [matRippleRadius]="radius"
             [matRippleColor]="color"
             (click)="next(3)">
          INSA<br>
          <h3>Our little touch for Insalians</h3>
        </div>
      </div>
      <!--<div class="lesboutons">
        <br>
        <div class="ripple-container mat-elevation-z4"
             matRipple
             [matRippleCentered]="centered"
             [matRippleDisabled]="disabled"
             [matRippleUnbounded]="unbounded"
             [matRippleRadius]="radius"
             [matRippleColor]="color"
             (click)="next1()">
          Next ><br>
        </div>
      </div>-->
      <br>
    </mat-tab>
    <mat-tab  label="Choose number of rounds">
      <br>
      <div class="lesboutons">
        <div class="ripple-containerCard mat-elevation-z8"
             matRipple
             [matRippleCentered]="centered"
             [matRippleDisabled]="disabled"
             [matRippleUnbounded]="unbounded"
             [matRippleRadius]="radius"
             [matRippleColor]="color"
             (click)="next(3)">
          Blitz<br>
          <h3>A fast game of 3 rounds</h3>
        </div>
        <div class="ripple-containerCardCentral mat-elevation-z8"
             matRipple
             [matRippleCentered]="centered"
             [matRippleDisabled]="disabled"
             [matRippleUnbounded]="unbounded"
             [matRippleRadius]="radius"
             [matRippleColor]="color"
             (click)="next(5)"
             >
          Normal<br>
          <h3>A normal game of 5 rounds</h3>
        </div>
        <div class="ripple-containerCard mat-elevation-z8"
             matRipple
             [matRippleCentered]="centered"
             [matRippleDisabled]="disabled"
             [matRippleUnbounded]="unbounded"
             [matRippleRadius]="radius"
             [matRippleColor]="color"
             (click)="next(10)">
          Classic<br>
          <h3>A long game of 10 rounds</h3>
        </div>
      </div>
      <br>
    </mat-tab>

    <mat-tab label="Choose difficulty">
      <br>
      <div class="lesboutons">
        <div class="ripple-containerCard mat-elevation-z8"
             matRipple
             [matRippleCentered]="centered"
             [matRippleDisabled]="disabled"
             [matRippleUnbounded]="unbounded"
             [matRippleRadius]="radius"
             [matRippleColor]="color"
             (click)="end(0)">
          Baby<br>
          <h3>Try to guess the year</h3>
        </div>
        <div class="ripple-containerCardCentral mat-elevation-z8"
             matRipple
             [matRippleCentered]="centered"
             [matRippleDisabled]="disabled"
             [matRippleUnbounded]="unbounded"
             [matRippleRadius]="radius"
             [matRippleColor]="color"
             (click)="end(1)"
        >
          Xtrem<br>
          <h3>Score calculated with the WebX algorithm </h3>
        </div>
      </div>
      <br>
    </mat-tab>
  </mat-tab-group>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
</div>
